body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#container.light {
  --background-color: #f0f0f0;
  --color: #333;
  --row-background-color: #fff;
  --seperator-color: #ccc;
  --input-background-color: #fff;
  --input-color: #333;
  --delete-button-background-color: transparent;
  --delete-button-color: #9c0b0b;
}

#container.dark {
  --background-color: #333;
  --color: #f0f0f0;
  --row-background-color: #444;
  --seperator-color: #555;
  --input-background-color: #555;
  --input-color: #f0f0f0;
  --delete-button-background-color: transparent;
  --delete-button-color: #9c0b0b;
}

#container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color);
}

main {
  grid-area: main;
  background-color: var(--background-color);
  padding: 20px;
}

main .logbookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

main .logbookList h1 {
  margin: 0;
  padding: 0;
}

main .logbookList .logbooks {
  width: 100%;
  padding: 0;
  margin: 0;
}

main .logbookList .logbooks .logbookListEntry:first-child {
  border-top: 1px solid var(--seperator-color);
}

main .logbookList .logbooks .logbookListEntry {
  display: flex;
  border-bottom: 1px solid var(--seperator-color);
  background-color: var(--row-background-color);
}

main .logbookList .logbooks .logbookListEntry a {
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  grid-area: footer;
  background-color: #00f;
  padding: 20px;
}

section {
  /* small drop shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
}
