body {
  margin: 0;
}

#container.light {
  --background-color: #f0f0f0;
  --color: #333;
}

#container.dark {
  --background-color: #333;
  --color: #f0f0f0;
}

#container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color);
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  height: 40px;
  width: 100%;
}

header > div {
  /* vertically and horizontally center the content */
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left,
header .right {
  background-color: #0f0;
}

header .middle {
  background-color: #f0f;
  padding: 0 20px;
}

main {
  grid-area: main;
  background-color: var(--background-color);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: #00f;
  padding: 20px;
}

section {
  /* small drop shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
}
